/**
*  Variables
*/
/**
*  Base styles
*/
body {
  background: #eee;
  font-family: 'Open Sans', sans-serif; }

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 2;
  padding: 0 0.5em; }

/**
*  Container
*/
.container {
  max-width: 600px;
  margin: 0 auto; }

/**
*  Buttons
*/
.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: white;
  border: none;
  background: #BD4932;
  outline: none;
  cursor: pointer; }

.button:hover {
  background: #a9412d; }

/**
*  Toolbar
*/
.toolbar {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row; }
  .toolbar input[type="text"] {
    flex: 10;
    -webkit-flex: 10; }
  .toolbar button {
    flex: 2;
    -webkit-flex: 2; }

/**
*  Todo list
*/
.list {
  padding: 0; }
  .list li {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row; }
    .list li input[type="text"] {
      flex: 11;
      -webkit-flex: 11; }
    .list li .checkbox {
      flex: 2;
      -webkit-flex: 2; }

/**
*  Custom checkbox
*/
input[type="checkbox"] {
  display: none; }

.checkbox {
  width: 25px;
  position: relative; }

/**
* Create the box for the checkbox
*/
.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd; }

/**
* Display the tick inside the checkbox
*/
.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 10px;
  left: 11px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/**
* Create the hover event of the tick
*/
.checkbox label:hover::after {
  opacity: 0.5; }

/**
* Create the checkbox state for the tick
*/
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1; }
